@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-page-handler="Add">
        <button type="submit">Add Order</button>
    </form>
    <div class="col-12">@Model.Message</div>
</div>